{
  "globalShortcut": "option",
  "launchAtLogin": true,
  "showWindowOn": "screenWithFrontmost",
  "shortcuts": {
    "lock": "command+option+q",
    "scratchpad": "command+shift+space",
    "emoji_picker": "command+control+space",
    "clipboard_manager": "command+option+v"
  },
  "disabledItemIds": [
    "resize_fullscreen",
    "resize_right_half",
    "resize_left_half",
    "resize_top_half",
    "resize_bottom_half",
    "resize_top_left",
    "resize_top_right",
    "resize_bottom_left",
    "resize_bottom_right",
    "resize_left_third",
    "resize_center_third",
    "resize_right_third",
    "resize_left_two_thirds",
    "resize_right_two_thirds",
    "move_next_screen",
    "move_previous_screen",
    "move_to_previous_space",
    "move_to_next_space",
    "move_center"
  ]
}
