# Debug startup time
#zmodload zsh/zprof
#setopt prompt_subst; zmodload zsh/datetime; PS4='+[$EPOCHREALTIME]%N:%i> ';
#set -x

# Configure zsh history
HISTSIZE=100000
SAVEHIST=100000

# Write to the history file immediately, not when the shell exits.
setopt INC_APPEND_HISTORY
# Duplicates get trimmed first.
setopt HIST_EXPIRE_DUPS_FIRST
# Ignore immediate duplicate entries.
setopt HIST_IGNORE_DUPS
# Share history between sessions.
setopt SHARE_HISTORY

export PATH="$HOME/.local/bin:$PATH"
eval "$(mise activate zsh)"
eval "$(starship init zsh)"

source ~/.zsh_daily # Run expensive operations once per day
source <(fzf --zsh) # Enable fzf keybindings and completions
