[user]
    name = {{ .name | quote }}
{{- if .work.enable }}
    email = {{ .work.git.email | quote }}
    signingkey = {{ .work.git.signingKey | quote }}
{{- else }}
    email = {{ .personal.git.email | quote }}
    signingkey = {{ .personal.git.signingKey | quote }}
{{- end }}

{{- if .work.enable }}

{{- if hasKey .work.git "rootDir" }}
[includeIf "gitdir:{{ get .work.git "rootDir" }}/"]
    path = ~/.gitconfig.work
{{- end }}

{{- if hasKey .personal.git "rootDir" }}

[includeIf "gitdir:{{ get .personal.git "rootDir" }}/"]
    path = ~/.gitconfig.personal

{{- end }}

[includeIf "gitdir:{{ .chezmoi.sourceDir }}/"]
    path = ~/.gitconfig.personal

{{- end }}

[core]
    autocrlf = input
    symlinks = false
    filemode = false
    whitespace = cr-at-eol
    editor = {{ .editor | quote }}

[commit]
    gpgsign = true

[gpg]
    program = gpg

[tag]
    gpgSign = true

[credential]
    helper = !gh auth git-credential
    useHttpPath = true

[http]
    version = HTTP/2
    postBuffer = 524288000

{{- if .work.enable }}

[include]
    path = ~/.gitconfig.work-specific

{{- end }}

[init]
    defaultBranch = main

[alias]
  br = branch
  ci = commit
  co = checkout
  st = status
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
