[user]
    name = {{ .name | quote }}
    email = {{ .personal.git.email | quote }}
    signingkey = {{ .personal.git.signingKey | quote }}

{{- if .work.enable }}
[includeIf "gitdir:~/develop/work/"]
    path = ~/.gitconfig.work

{{- end }}

[core]
    autocrlf = input
    symlinks = false
    filemode = false
    whitespace = cr-at-eol
    editor = vi

[commit]
    gpgsign = true

[gpg]
    program = gpg

[tag]
    gpgSign = true

[credential]
    helper = !gh auth git-credential
    useHttpPath = true

[http]
    version = HTTP/2
    postBuffer = 524288000

{{- if .work.enable }}
[url "ssh://git@github.com-personal/"]
  insteadOf = https://github.com/

[include]
    path = ~/.gitconfig.work-specific

{{- else }}
[url "ssh://git@github.com"]
  insteadOf = https://github.com
{{- end }}

[init]
    defaultBranch = main

[alias]
  br = branch
  ci = commit
  co = checkout
  st = status
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat  
