{{- if .work.enable }}
[user]
    name = {{ .name | quote }}
    email = {{ .work.git.email | quote }}
    signingkey = {{ .work.git.signingKey | quote }}

[credential "https://github.com"]
        helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
        helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://github.com"]
        helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
        helper = !/opt/homebrew/bin/gh auth git-credential

[url "ssh://git@github.com/"]
        insteadOf = https://github.com/

[commit]
        gpgsign = true

[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[gpg]
        program = gpg
{{- end }}