{{- if .work.enable }}
[user]
    name = {{ .name | quote }}
    email = {{ .work.git.email | quote }}
    signingkey = {{ .work.git.signingKey | quote }}

[includeIf "gitdir:~/develop/work/"]
    path = ~/.gitconfig.work-specific
{{- end }}
