# Debug startup time
#zmodload zsh/zprof
#setopt prompt_subst; zmodload zsh/datetime; PS4='+[$EPOCHREALTIME]%N:%i> ';
#set -x

# Configure zsh history
HISTSIZE=100000
SAVEHIST=100000

# Write to the history file immediately, not when the shell exits.
setopt INC_APPEND_HISTORY
# Duplicates get trimmed first.
setopt HIST_EXPIRE_DUPS_FIRST
# Ignore immediate duplicate entries.
setopt HIST_IGNORE_DUPS
# Share history between sessions.
setopt SHARE_HISTORY

FPATH=$BREW_HOME/share/zsh-completions:$FPATH

export GPG_TTY=$(tty)
export GPG_TTY=$TTY
export PATH="$BREW_HOME/bin:$PATH"
export PATH="$HOME/.local/bin:$HOME/bin:$PATH"

eval "$(brew shellenv)"
eval "$(starship init zsh)"
eval $(thefuck --alias fuck)
eval "$(mise activate zsh --shims)"

source ~/.zsh_aliases
source ~/.zsh_daily # Run expensive operations once per day
source ~/.zsh_completions
source $BREW_HOME/share/zsh-autosuggestions/zsh-autosuggestions.zsh

# End of Docker CLI completions
# The following lines have been added by Docker Desktop to enable Docker CLI completions.
fpath=($HOME/.docker/completions $fpath)
autoload -Uz compinit
compinit
# End of Docker CLI completions
