if command -v gh >/dev/null; then source <(gh completion --shell zsh); fi
if command -v fzf >/dev/null; then source <(fzf --zsh); fi
if command -v kubectl >/dev/null; then source <(kubectl completion zsh); fi
if command -v mise >/dev/null; then source <(mise completion --raw zsh); fi
if command -v starship >/dev/null; then source <(starship completions zsh); fi

{{- if .work.enable }}

if command -v argocd >/dev/null; then source <(argocd completion zsh); fi
if command -v cilium >/dev/null; then source <(cilium completion zsh); fi
if command -v helm >/dev/null; then source <(helm completion zsh); fi

{{ end }}
