#general
alias k="kubectl"
alias ll="ls -al"
# sk (https://github.com/erikkinding/sk)
alias skp="sk -p" # Previously selected context and namespace
alias skn="sk -n" # Also prompt for namespace selection
alias skN="sk -N" # Only prompt for namespace selection
alias skc="sk -c" # Print the currently selected context and namespace
alias ghlp='mise run gh:auth:login:personal'
alias opoc='mise run opencode:profile:copilot'
alias opoa='mise run opencode:profile:openai'
alias opos='mise run opencode:profile:current'
{{- if .work.enable }}
alias kinit="kinit --keychain {{ .work.employee.code }}@{{ .work.domain.name }}"
alias goedemorgen='if command -v open >/dev/null; then open -a "Firefox" "{{ .work.saml.auth.url }}?nocache=$(date +%s)"; fi; if command -v mise >/dev/null; then mise tb:aws:login; fi'
alias ghlw='mise run gh:auth:login:work'
alias ghsa='mise run gh:auth:status:all'
{{- end }}
