{{- $mod := "cmd" -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- $mod = "ctrl" -}}
{{- end }}
// Zed keymap
//
// For information on binding keys, see the Zed
// documentation: https://zed.dev/docs/key-bindings
//
// To see the default key bindings run `zed: open default keymap`
// from the command palette.
[
  {
    "context": "Workspace",
    "bindings": {
      // "shift shift": "file_finder::Toggle"
      "{{ $mod }}-shift-g": [
        "task::Spawn",
        {
          "task_name": "LazyGit",
          "reveal_target": "center"
        }
      ],
      "{{ $mod }}-p": [
        "task::Spawn",
        {
          "task_name": "Television",
          "reveal_target": "center"
        }
      ],
      "{{ $mod }}-shift-f": [
        "task::Spawn",
        {
          "task_name": "Superfile",
          "reveal_target": "center"
        }
      ]
    }
  },
  {
    "context": "Editor",
    "bindings": {
      "{{ $mod }}-k {{ $mod }}-left": "workspace::ActivatePaneLeft",
      "{{ $mod }}-k {{ $mod }}-right": "workspace::ActivatePaneRight",
      "{{ $mod }}-k {{ $mod }}-up": "workspace::ActivatePaneUp",
      "{{ $mod }}-k {{ $mod }}-down": "workspace::ActivatePaneDown",
      "{{ $mod }}-k shift-left": "workspace::SwapPaneLeft",
      "{{ $mod }}-k shift-right": "workspace::SwapPaneRight",
      "{{ $mod }}-k shift-up": "workspace::SwapPaneUp",
      "{{ $mod }}-k shift-down": "workspace::SwapPaneDown"
    }
  },
  {
    "context": "VimControl && !menu",
    "bindings": {
      "ö": [
        "workspace::SendKeystrokes",
        "["
      ],
      "ä": [
        "workspace::SendKeystrokes",
        "]"
      ],
      "ctrl-ö": [
        "workspace::SendKeystrokes",
        "{"
      ],
      "ctrl-ä": [
        "workspace::SendKeystrokes",
        "}"
      ]
    }
  },
  {
    "context": "Editor",
    "bindings": {
      "{{ $mod }}-k right": "pane::SplitAndMoveRight"
    }
  },
  {
    "context": "Editor",
    "bindings": {
      "{{ $mod }}-k left": "pane::SplitAndMoveLeft"
    }
  },
  {
    "context": "Editor",
    "bindings": {
      "{{ $mod }}-k down": "pane::SplitAndMoveDown"
    }
  },
  {
    "context": "Editor",
    "bindings": {
      "{{ $mod }}-k up": "pane::SplitAndMoveUp"
    }
  },
  {
    "context": "(VimControl || (!Editor && !Terminal))",
    "bindings": {
      "ctrl-w w": "workspace::ActivateNextWindow"
    }
  }
]
