// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
  "agent": {
    "default_profile": "write",
    "inline_assistant_model": {
      "provider": "copilot_chat",
      "model": "gpt-5"
    },
    "always_allow_tool_actions": false,
    "default_model": {
      "provider": "copilot_chat",
      "model": "claude-sonnet-4.5"
    },
    "model_parameters": []
  },
  "auto_install_extensions": {
    "helm": true,
    "html": true,
    "toml": true,
    "vale": true
  },
  "autosave": "on_focus_change",
  "buffer_font_size": 14,
  "context_servers": {
    "mcp-server-github": {
      "settings": {}
    }
  },
  "edit_predictions": {
    "mode": "subtle"
  },
  "features": {
    "edit_prediction_provider": "zed"
  },
  "file_types": {
    "Helm": [
      "**/templates/**/*.tpl",
      "**/templates/**/*.yaml",
      "**/templates/**/*.yml",
      "**/helmfile.d/**/*.yaml",
      "**/helmfile.d/**/*.yml"
    ]
  },
  "language_models": {
    "ollama": {
      "api_url": "http://localhost:11434",
      "available_models": [
        {
          "name": "devstral:latest",
          "display_name": "devstral",
          "max_tokens": 32768,
          "supports_tools": true
        }
      ]
    }
  },
  "languages": {
    "Go": {
      "enable_language_server": true,
      "language_servers": [
        "gopls"
      ]
    },
    "Markdown": {
      "enable_language_server": true,
      "formatter": "prettier",
      "format_on_save": "on",
      "language_servers": [
        "markdown-oxide",
        "vale"
      ]
    },
    "Shell Script": {
      "format_on_save": "on",
      "formatter": {
        "external": {
          "command": "shfmt",
          // Change `--indent 2` to match your preferred tab_size
          "arguments": [
            "--filename",
            "{buffer_path}",
            "--indent",
            "2"
          ]
        }
      }
    }
  },
  "lsp": {
    "bash-language-server": {
      "binary": {
        "path": "bash-language-server",
        "arguments": [
          "start"
        ]
      }
    },
    "gopls": {
      "binary": {
        "path": "gopls"
      },
      "initialization_options": {
        "codelenses": {
          "run_govulncheck": true
        },
        "gofumpt": true,
        "hints": {
          "assignVariableTypes": true,
          "compositeLiteralFields": true,
          "compositeLiteralTypes": true,
          "constantValues": true,
          "functionTypeParameters": true,
          "parameterNames": true,
          "rangeVariableTypes": true
        },
        "semanticTokens": true,
        "staticcheck": true,
        "usePlaceholders": true,
        "vulncheck": "Imports"
      }
    },
    "helm": {
      "settings": {
        "helm-ls": {
          "yamlls": {
            "enabled": false
          }
        }
      }
    },
    "vale": {
      "binary": {
        "path": "vale-ls"
      },
      "initialization_options": {
        "syncOnStartup": true
      }
    },
    "yaml-language-server": {
      "settings": {
        "yaml": {
          "schemaStore": {
            "enable": true
          }
        }
      }
    }
  },
  "format_on_save": "on",
  "formatter": "language_server",
  "macos": {
    "use_system_window_tabs": false
  },
  "preferred_line_length": 120,
  "soft_wrap": "bounded",
  "telemetry": {
    "metrics": false,
    "diagnostics": false
  },
  "terminal": {
    "copy_on_select": true
  },
  "theme": {
    "dark": "Catppuccin Macchiato",
    "light": "Ayu Light",
    "mode": "system"
  },
  "ui_font_size": 14,
  "vim_mode": false,
  "tabs": {
    "file_icons": true
  }
}
