{{- $provider := "github-copilot" -}}
{{- $model := "gpt-5.6-luna" -}}
{{- if .work.enable -}}
  {{- $provider = "openai-codex" -}}
  {{- $model = "gpt-5.6-luna" -}}
{{- end -}}
{
  "packages": [
    "npm:@dietrichgebert/ponytail"
  ],
  "npmCommand": [
    "mise",
    "exec",
    "node@latest",
    "--",
    "npm"
  ],
  "defaultProvider": "{{ $provider }}",
  "defaultModel": "{{ $model }}",
  "defaultThinkingLevel": "high",
  "enabledModels": [
    "{{ $provider }}/{{ $model }}"
  ],
  "theme": "dark"
}
