[tasks."ssh:agent:restart"]
alias = "sar"
description = "Restart ssh agent"
run = '''
  eval $(ssh-agent -s)
{{- if .work.enable }}
  ssh-add ~/.ssh/{{ .work.ssh.user.identityFile }}
  ssh-add ~/.ssh/{{ .work.ssh.organization.identityFile }}
{{- end }}
  ssh-add ~/.ssh/{{ .personal.ssh.identityFile }}
'''

[tools]
bun = "latest"
npm = "latest"
"npm:@ast-grep/napi" = "latest"
"npm:bash-language-server" = "latest"
"npm:oh-my-opencode" = "latest"
"npm:opencode-ai" = "latest"
"npm:yaml-language-server" = "latest"
"npm:playwright" = "latest"
shellcheck = "latest"
shellspec = "latest"
shfmt = "latest"
vale = "latest"
